In [1]:
import os
import pandas as pd

In [2]:
overview_path = os.path.join(r"C:\Users\chen\Desktop\data\overview")
phenotypes_path = os.path.join(r"C:\Users\chen\Desktop\data\phenotypes")

In [3]:
home_df = pd.read_excel(r"C:\Users\chen\Desktop\data\home.xlsx")

In [4]:
home_df.head()

,Syndrome Name,Location,Genotype / Class,Size,Grade
0,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,12q14 microdeletion syndrome,12\n:\n64678139\n-\n68251745\nGRCh38,Heterozygous\nDeletion,3.57 Mb,NaN
3,15q13.3 microdeletion syndrome,15\n:\n30618103\n-\n32153206\nGRCh38,Heterozygous\nDeletion,1.54 Mb,NaN
4,15q24 recurrent microdeletion syndrome,15\n:\n74120302\n-\n75680570\nGRCh38,Heterozygous\nDeletion,1.56 Mb,NaN

In [5]:
home_df = home_df.where(home_df.notnull(),None)

In [6]:
home_df

,Syndrome Name,Location,Genotype / Class,Size,Grade
0,None,None,None,None,NaN
1,None,None,None,None,NaN
2,12q14 microdeletion syndrome,12\n:\n64678139\n-\n68251745\nGRCh38,Heterozygous\nDeletion,3.57 Mb,NaN
3,15q13.3 microdeletion syndrome,15\n:\n30618103\n-\n32153206\nGRCh38,Heterozygous\nDeletion,1.54 Mb,NaN
4,15q24 recurrent microdeletion syndrome,15\n:\n74120302\n-\n75680570\nGRCh38,Heterozygous\nDeletion,1.56 Mb,NaN
...,...,...,...,...,...
63,Wolf-Hirschhorn Syndrome,4\n:\n1567470\n-\n2108509\nGRCh38,Heterozygous\nDeletion,541.04 kb,1.0
64,Xp11.22-linked intellectual disability,X\n:\n53374149\n-\n53656331\nGRCh38,Unknown\nDuplication,282.18 kb,NaN
65,Xp11.22-p11.23 Microduplication,X\n:\n48476161\n-\n52374518\nGRCh38,Unknown\nDuplication,3.90 Mb,NaN
66,Xq28 (MECP2) duplication,X\n:\n154021812\n-\n154097731\nGRCh38,Unknown\nDuplication,75.92 kb,NaN
67,Xq28 Microduplication,X\n:\n154396222\n-\n154653579\nGRCh38,Unknown\nDuplication,257.36 kb,NaN

In [7]:
import numpy as np

In [8]:
def get_overview(info):
    if not info or info == np.nan:
        return
    try:
        path = os.path.join(overview_path,f"" + str(info).replace("/","") + ".csv")
        overview_df = pd.read_csv(path)
        if overview_df.empty:
            return
    #     display(overview_df)
        overview_text = overview_df.iloc[0]["overview"]
    except Exception as e:
        print(e.__str__())
        return
    return overview_text

In [9]:
home_df["overview-Clinical"] = home_df["Syndrome Name"].apply(lambda x:get_overview(x))

In [10]:
home_df

,Syndrome Name,Location,Genotype / Class,Size,Grade,overview-Clinical
0,None,None,None,None,NaN,None
1,None,None,None,None,NaN,None
2,12q14 microdeletion syndrome,12\n:\n64678139\n-\n68251745\nGRCh38,Heterozygous\nDeletion,3.57 Mb,NaN,Clinical: The three children reported by Mente...
3,15q13.3 microdeletion syndrome,15\n:\n30618103\n-\n32153206\nGRCh38,Heterozygous\nDeletion,1.54 Mb,NaN,Clinical: This microdeletion syndrome was firs...
4,15q24 recurrent microdeletion syndrome,15\n:\n74120302\n-\n75680570\nGRCh38,Heterozygous\nDeletion,1.56 Mb,NaN,Clinical: 15q24 microdeletion syndrome is a ne...
...,...,...,...,...,...,...
63,Wolf-Hirschhorn Syndrome,4\n:\n1567470\n-\n2108509\nGRCh38,Heterozygous\nDeletion,541.04 kb,1.0,Clinical - Characterised by low birth-weight a...
64,Xp11.22-linked intellectual disability,X\n:\n53374149\n-\n53656331\nGRCh38,Unknown\nDuplication,282.18 kb,NaN,Clinical: Data Awaited\nLinks to further infor...
65,Xp11.22-p11.23 Microduplication,X\n:\n48476161\n-\n52374518\nGRCh38,Unknown\nDuplication,3.90 Mb,NaN,Clinical: Data Awaited\nLinks to support group...
66,Xq28 (MECP2) duplication,X\n:\n154021812\n-\n154097731\nGRCh38,Unknown\nDuplication,75.92 kb,NaN,"Clinical: Severe mental retardation, severe hy..."
67,Xq28 Microduplication,X\n:\n154396222\n-\n154653579\nGRCh38,Unknown\nDuplication,257.36 kb,NaN,Clinical: Data Awaited\nLinks to further infor...

In [11]:
def get_phenotypes_name(info):
    if not info or info == np.nan:
        return
    try:
        path = os.path.join(phenotypes_path,f"" + str(info).replace("/","") + ".xlsx")
        phenotypes_df = pd.read_excel(path)
        if phenotypes_df.empty:
            return
        display(phenotypes_df)
        phenotypes_df = phenotypes_df.where(phenotypes_df.notnull(),None)
        phenotypes_Name = ""
        for i in range(len(phenotypes_df)):
            if phenotypes_df.iat[i,0]:
                phenotypes_Name = str(phenotypes_df.iat[i,0]) + "," + phenotypes_Name 
        print("phenotypes_Name",phenotypes_Name)

    except Exception as e:
        print(e.__str__())
        return
    return phenotypes_Name

In [18]:
def get_phenotypes_accession(info):
    if not info or info == np.nan:
        return
    try:
        path = os.path.join(phenotypes_path,f"" + str(info).replace("/","") + ".xlsx")
        phenotypes_df = pd.read_excel(path)
        if phenotypes_df.empty:
            return
        display(phenotypes_df)
        phenotypes_df = phenotypes_df.where(phenotypes_df.notnull(),None)
        phenotypes_Accession = ""
        for i in range(len(phenotypes_df)):
            if phenotypes_df.iat[i,1]:
                phenotypes_Accession = str(phenotypes_df.iat[i,1]) + "," + phenotypes_Accession
        print("phenotypes_Accession",phenotypes_Accession)
    except Exception as e:
        print(e.__str__())
        return 
    return phenotypes_Accession

In [17]:
home_df["phenotypes-Name"] = home_df["Syndrome Name"].apply(lambda x:get_phenotypes_name(x))

                 Syndrome Name    Location  Genotype / Class  Size  Grade
0                          NaN         NaN               NaN   NaN    NaN
1      Intellectual disability  HP:0001249               NaN   NaN    NaN
2              Osteopoikilosis  HP:0010739               NaN   NaN    NaN
3  Proportionate short stature  HP:0003508               NaN   NaN    NaN

phenotypes_Name Proportionate short stature,Osteopoikilosis,Intellectual disability,

             Syndrome Name    Location  Genotype / Class  Size  Grade
0                      NaN         NaN               NaN   NaN    NaN
1  Abnormality of the face  HP:0000271               NaN   NaN    NaN
2  Intellectual disability  HP:0001249               NaN   NaN    NaN
3                 Seizures  HP:0001250               NaN   NaN    NaN

phenotypes_Name Seizures,Intellectual disability,Abnormality of the face,

               Syndrome Name    Location  Genotype / Class  Size  Grade
0                        NaN         NaN               NaN   NaN    NaN
1    Abnormality of the face  HP:0000271               NaN   NaN    NaN
2                Hypospadias  HP:0000047               NaN   NaN    NaN
3    Intellectual disability  HP:0001249               NaN   NaN    NaN
4               Joint laxity  HP:0001388               NaN   NaN    NaN
5               Microcephaly  HP:0000252               NaN   NaN    NaN
6              Short stature  HP:0004322               NaN   NaN    NaN
7  Small for gestational age  HP:0001518               NaN   NaN    NaN

phenotypes_Name Small for gestational age,Short stature,Microcephaly,Joint laxity,Intellectual disability,Hypospadias,Abnormality of the face,

               Syndrome Name    Location  Genotype / Class  Size  Grade
0                        NaN         NaN               NaN   NaN    NaN
1  Abnormality of the kidney  HP:0000077               NaN   NaN    NaN
2    Intellectual disability  HP:0001249               NaN   NaN    NaN
3               Tall stature  HP:0000098               NaN   NaN    NaN

phenotypes_Name Tall stature,Intellectual disability,Abnormality of the kidney,

                Syndrome Name  Location  Genotype / Class  Size  Grade
0                         NaN       NaN               NaN   NaN    NaN
1  No data available in table       NaN               NaN   NaN    NaN

phenotypes_Name No data available in table,

                     Syndrome Name    Location  Genotype / Class  Size  Grade
0                              NaN         NaN               NaN   NaN    NaN
1          Abnormality of the face  HP:0000271               NaN   NaN    NaN
2  Feeding difficulties in infancy  HP:0008872               NaN   NaN    NaN
3          Intellectual disability  HP:0001249               NaN   NaN    NaN
4                     Pointed chin  HP:0000307               NaN   NaN    NaN

phenotypes_Name Pointed chin,Intellectual disability,Feeding difficulties in infancy,Abnormality of the face,

                Syndrome Name    Location  Genotype / Class  Size  Grade
0                         NaN         NaN               NaN   NaN    NaN
1       Abnormal facial shape  HP:0001999               NaN   NaN    NaN
2                      Autism  HP:0000717               NaN   NaN    NaN
3  Global developmental delay  HP:0001263               NaN   NaN    NaN
4     Intellectual disability  HP:0001249               NaN   NaN    NaN
5                Microcephaly  HP:0000252               NaN   NaN    NaN
6               Short Stature  HP:0004322               NaN   NaN    NaN

phenotypes_Name Short Stature,Microcephaly,Intellectual disability,Global developmental delay,Autism,Abnormal facial shape,

                Syndrome Name  Location  Genotype / Class  Size  Grade
0                         NaN       NaN               NaN   NaN    NaN
1  No data available in table       NaN               NaN   NaN    NaN

phenotypes_Name No data available in table,

                Syndrome Name  Location  Genotype / Class  Size  Grade
0                         NaN       NaN               NaN   NaN    NaN
1  No data available in table       NaN               NaN   NaN    NaN

phenotypes_Name No data available in table,

                     Syndrome Name    Location  Genotype / Class  Size  Grade
0                              NaN         NaN               NaN   NaN    NaN
1  Feeding difficulties in infancy  HP:0008872               NaN   NaN    NaN
2          Intellectual disability  HP:0001249               NaN   NaN    NaN
3                        Long face  HP:0000276               NaN   NaN    NaN
4               Muscular hypotonia  HP:0001252               NaN   NaN    NaN
5        Small for gestational age  HP:0001518               NaN   NaN    NaN

phenotypes_Name Small for gestational age,Muscular hypotonia,Long face,Intellectual disability,Feeding difficulties in infancy,

                    Syndrome Name    Location  Genotype / Class  Size  Grade
0                             NaN         NaN               NaN   NaN    NaN
1                  Deeply set eye  HP:0000490               NaN   NaN    NaN
2  Delayed cranial suture closure  HP:0000270               NaN   NaN    NaN
3         Intellectual disability  HP:0001249               NaN   NaN    NaN
4              Muscular hypotonia  HP:0001252               NaN   NaN    NaN
5                    Pointed chin  HP:0000307               NaN   NaN    NaN
6                        Seizures  HP:0001250               NaN   NaN    NaN

phenotypes_Name Seizures,Pointed chin,Muscular hypotonia,Intellectual disability,Delayed cranial suture closure,Deeply set eye,

             Syndrome Name    Location  Genotype / Class  Size  Grade
0                      NaN         NaN               NaN   NaN    NaN
1  Intellectual disability  HP:0001249               NaN   NaN    NaN
2             Microcephaly  HP:0000252               NaN   NaN    NaN

phenotypes_Name Microcephaly,Intellectual disability,

             Syndrome Name    Location  Genotype / Class  Size  Grade
0                      NaN         NaN               NaN   NaN    NaN
1                   Autism  HP:0000717               NaN   NaN    NaN
2  Intellectual disability  HP:0001249               NaN   NaN    NaN

phenotypes_Name Intellectual disability,Autism,

                Syndrome Name  Location  Genotype / Class  Size  Grade
0                         NaN       NaN               NaN   NaN    NaN
1  No data available in table       NaN               NaN   NaN    NaN

phenotypes_Name No data available in table,

,Syndrome Name,Location,Genotype / Class,Size,Grade
0,NaN,NaN,NaN,NaN,NaN
1,Abnormality of the heart,HP:0001627,NaN,NaN,NaN
2,Delayed speech and language development,HP:0000750,NaN,NaN,NaN
3,Hypocalcemia,HP:0002901,NaN,NaN,NaN
4,Nasal speech,HP:0001611,NaN,NaN,NaN
5,T lymphocytopenia,HP:0005403,NaN,NaN,NaN

phenotypes_Name T lymphocytopenia,Nasal speech,Hypocalcemia,Delayed speech and language development,Abnormality of the heart,

             Syndrome Name    Location  Genotype / Class  Size  Grade
0                      NaN         NaN               NaN   NaN    NaN
1  Intellectual disability  HP:0001249               NaN   NaN    NaN
2             Nasal speech  HP:0001611               NaN   NaN    NaN
3              Telecanthus  HP:0000506               NaN   NaN    NaN

phenotypes_Name Telecanthus,Nasal speech,Intellectual disability,

               Syndrome Name    Location  Genotype / Class  Size  Grade
0                        NaN         NaN               NaN   NaN    NaN
1    Abnormality of the face  HP:0000271               NaN   NaN    NaN
2    Intellectual disability  HP:0001249               NaN   NaN    NaN
3              Short stature  HP:0004322               NaN   NaN    NaN
4  Small for gestational age  HP:0001518               NaN   NaN    NaN

phenotypes_Name Small for gestational age,Short stature,Intellectual disability,Abnormality of the face,

,Syndrome Name,Location,Genotype / Class,Size,Grade
0,NaN,NaN,NaN,NaN,NaN
1,Autism,HP:0000717,NaN,NaN,NaN
2,Delayed speech and language development,HP:0000750,NaN,NaN,NaN
3,Hyperactivity,HP:0000752,NaN,NaN,NaN
4,Intellectual disability,HP:0001249,NaN,NaN,NaN
5,Muscular hypotonia,HP:0001252,NaN,NaN,NaN

phenotypes_Name Muscular hypotonia,Intellectual disability,Hyperactivity,Delayed speech and language development,Autism,

,Syndrome Name,Location,Genotype / Class,Size,Grade
0,NaN,NaN,NaN,NaN,NaN
1,Abnormal nasal morphology,HP:0005105,NaN,NaN,NaN
2,Abnormality of digit,HP:0011297,NaN,NaN,NaN
3,Abnormality of the palate,HP:0000174,NaN,NaN,NaN
4,Abnormality of the philtrum,HP:0000288,NaN,NaN,NaN
5,Central hypotonia,HP:0011398,NaN,NaN,NaN
6,Cranial asymmetry,HP:0000267,NaN,NaN,NaN
7,Delayed speech and language development,HP:0000750,NaN,NaN,NaN
8,Downslanted palpebral fissures,HP:0000494,NaN,NaN,NaN
9,Feeding difficulties,HP:0011968,NaN,NaN,NaN
10,Global developmental delay,HP:0001263,NaN,NaN,NaN
11,Intellectual disability,HP:0001249,NaN,NaN,NaN
12,Microcephaly,HP:0000252,NaN,NaN,NaN
13,Prominent epicanthal folds,HP:0007930,NaN,NaN,NaN
14,Ptosis,HP:0000508,NaN,NaN,NaN
15,Telecanthus,HP:0000506,NaN,NaN,NaN

phenotypes_Name Telecanthus,Ptosis,Prominent epicanthal folds,Microcephaly,Intellectual disability,Global developmental delay,Feeding difficulties,Downslanted palpebral fissures,Delayed speech and language development,Cranial asymmetry,Central hypotonia,Abnormality of the philtrum,Abnormality of the palate,Abnormality of digit,Abnormal nasal morphology,

                Syndrome Name  Location  Genotype / Class  Size  Grade
0                         NaN       NaN               NaN   NaN    NaN
1  No data available in table       NaN               NaN   NaN    NaN

phenotypes_Name No data available in table,

,Syndrome Name,Location,Genotype / Class,Size,Grade
0,NaN,NaN,NaN,NaN,NaN
1,Behavioural/Psychiatric Abnormality,HP:0000708,NaN,NaN,NaN
2,Cleft palate,HP:0000175,NaN,NaN,NaN
3,Feeding difficulties in infancy,HP:0008872,NaN,NaN,NaN
4,High palate,HP:0000218,NaN,NaN,NaN
5,Inguinal hernia,HP:0000023,NaN,NaN,NaN
6,Intellectual disability,HP:0001249,NaN,NaN,NaN
7,Seizures,HP:0001250,NaN,NaN,NaN
8,Short stature,HP:0004322,NaN,NaN,NaN

phenotypes_Name Short stature,Seizures,Intellectual disability,Inguinal hernia,High palate,Feeding difficulties in infancy,Cleft palate,Behavioural/Psychiatric Abnormality,

              Syndrome Name    Location  Genotype / Class  Size  Grade
0                       NaN         NaN               NaN   NaN    NaN
1    Brachydactyly syndrome  HP:0001156               NaN   NaN    NaN
2            Deeply set eye  HP:0000490               NaN   NaN    NaN
3   Intellectual disability  HP:0001249               NaN   NaN    NaN
4                Round face  HP:0000311               NaN   NaN    NaN
5  Thin upper lip vermilion  HP:0000219               NaN   NaN    NaN

phenotypes_Name Thin upper lip vermilion,Round face,Intellectual disability,Deeply set eye,Brachydactyly syndrome,

             Syndrome Name    Location  Genotype / Class  Size  Grade
0                      NaN         NaN               NaN   NaN    NaN
1  Intellectual disability  HP:0001249               NaN   NaN    NaN
2                Long face  HP:0000276               NaN   NaN    NaN
3   Prominent nasal bridge  HP:0000426               NaN   NaN    NaN
4           Short philtrum  HP:0000322               NaN   NaN    NaN

phenotypes_Name Short philtrum,Prominent nasal bridge,Long face,Intellectual disability,

                Syndrome Name  Location  Genotype / Class  Size  Grade
0                         NaN       NaN               NaN   NaN    NaN
1  No data available in table       NaN               NaN   NaN    NaN

phenotypes_Name No data available in table,

,Syndrome Name,Location,Genotype / Class,Size,Grade
0,NaN,NaN,NaN,NaN,NaN
1,Delayed speech and language development,HP:0000750,NaN,NaN,NaN
2,Intellectual disability,HP:0001249,NaN,NaN,NaN
3,Short attention span,HP:0000736,NaN,NaN,NaN

phenotypes_Name Short attention span,Intellectual disability,Delayed speech and language development,

                     Syndrome Name    Location  Genotype / Class  Size  Grade
0                              NaN         NaN               NaN   NaN    NaN
1         Abnormality of the heart  HP:0001627               NaN   NaN    NaN
2    Atrioventricular canal defect  HP:0006695               NaN   NaN    NaN
3  Congenital diaphragmatic hernia  HP:0000776               NaN   NaN    NaN
4                   Cryptorchidism  HP:0000028               NaN   NaN    NaN
5      Defect in the atrial septum  HP:0001631               NaN   NaN    NaN
6                    Hyperactivity  HP:0000752               NaN   NaN    NaN
7          Intellectual disability  HP:0001249               NaN   NaN    NaN

phenotypes_Name Intellectual disability,Hyperactivity,Defect in the atrial septum,Cryptorchidism,Congenital diaphragmatic hernia,Atrioventricular canal defect,Abnormality of the heart,

,Syndrome Name,Location,Genotype / Class,Size,Grade
0,NaN,NaN,NaN,NaN,NaN
1,Abnormal facial shape,HP:0001999,NaN,NaN,NaN
2,Behavioural/Psychiatric Abnormality,HP:0000708,NaN,NaN,NaN
3,Delayed speech and language development,HP:0000750,NaN,NaN,NaN
4,Intellectual disability,HP:0001249,NaN,NaN,NaN
5,Malformation of the heart and great vessels,HP:0002564,NaN,NaN,NaN

phenotypes_Name Malformation of the heart and great vessels,Intellectual disability,Delayed speech and language development,Behavioural/Psychiatric Abnormality,Abnormal facial shape,

,Syndrome Name,Location,Genotype / Class,Size,Grade
0,NaN,NaN,NaN,NaN,NaN
1,Downturned corners of mouth,HP:0002714,NaN,NaN,NaN
2,Exaggerated cupid's bow,HP:0002263,NaN,NaN,NaN
3,Full cheeks,HP:0000293,NaN,NaN,NaN
4,High forehead,HP:0000348,NaN,NaN,NaN
5,Intellectual disability,HP:0001249,NaN,NaN,NaN
6,Low-set ears,HP:0000369,NaN,NaN,NaN
7,Micrognathia,HP:0000347,NaN,NaN,NaN
8,Opacification of the corneal stroma,HP:0007759,NaN,NaN,NaN
9,Prominent ears,HP:0000412,NaN,NaN,NaN
10,Ptosis,HP:0000508,NaN,NaN,NaN
11,Round face,HP:0000311,NaN,NaN,NaN
12,Short philtrum,HP:0000322,NaN,NaN,NaN

phenotypes_Name Short philtrum,Round face,Ptosis,Prominent ears,Opacification of the corneal stroma,Micrognathia,Low-set ears,Intellectual disability,High forehead,Full cheeks,Exaggerated cupid's bow,Downturned corners of mouth,

              Syndrome Name    Location  Genotype / Class  Size  Grade
0                       NaN         NaN               NaN   NaN    NaN
1  Abnormality of the heart  HP:0001627               NaN   NaN    NaN
2          Anteverted nares  HP:0000463               NaN   NaN    NaN
3   Intellectual disability  HP:0001249               NaN   NaN    NaN
4              Microcephaly  HP:0000252               NaN   NaN    NaN
5         Midface retrusion  HP:0011800               NaN   NaN    NaN
6        Muscular hypotonia  HP:0001252               NaN   NaN    NaN
7         Protruding tongue  HP:0010808               NaN   NaN    NaN
8                Short nose  HP:0003196               NaN   NaN    NaN
9                 Synophrys  HP:0000664               NaN   NaN    NaN

phenotypes_Name Synophrys,Short nose,Protruding tongue,Muscular hypotonia,Midface retrusion,Microcephaly,Intellectual disability,Anteverted nares,Abnormality of the heart,

                 Syndrome Name    Location  Genotype / Class  Size  Grade
0                          NaN         NaN               NaN   NaN    NaN
1  Abnormality of erythrocytes  HP:0001877               NaN   NaN    NaN
2      Intellectual disability  HP:0001249               NaN   NaN    NaN

phenotypes_Name Intellectual disability,Abnormality of erythrocytes,

  Syndrome Name    Location  Genotype / Class  Size  Grade
0           NaN         NaN               NaN   NaN    NaN
1  Oligospermia  HP:0000798               NaN   NaN    NaN

phenotypes_Name Oligospermia,

  Syndrome Name    Location  Genotype / Class  Size  Grade
0           NaN         NaN               NaN   NaN    NaN
1  Oligospermia  HP:0000798               NaN   NaN    NaN

phenotypes_Name Oligospermia,

  Syndrome Name    Location  Genotype / Class  Size  Grade
0           NaN         NaN               NaN   NaN    NaN
1  Oligospermia  HP:0000798               NaN   NaN    NaN

phenotypes_Name Oligospermia,

  Syndrome Name    Location  Genotype / Class  Size  Grade
0           NaN         NaN               NaN   NaN    NaN
1  Oligospermia  HP:0000798               NaN   NaN    NaN

phenotypes_Name Oligospermia,

,Syndrome Name,Location,Genotype / Class,Size,Grade
0,NaN,NaN,NaN,NaN,NaN
1,Abnormality of pyramidal motor function,HP:0007256,NaN,NaN,NaN
2,Dysautonomia,HP:0002459,NaN,NaN,NaN
3,Leukodystrophy,HP:0002415,NaN,NaN,NaN
4,Peripheral demyelination,HP:0011096,NaN,NaN,NaN

phenotypes_Name Peripheral demyelination,Leukodystrophy,Dysautonomia,Abnormality of pyramidal motor function,

             Syndrome Name    Location  Genotype / Class  Size  Grade
0                      NaN         NaN               NaN   NaN    NaN
1          EEG abnormality  HP:0002353               NaN   NaN    NaN
2  Intellectual disability  HP:0001249               NaN   NaN    NaN
3             Microcephaly  HP:0000252               NaN   NaN    NaN
4                 Seizures  HP:0001250               NaN   NaN    NaN
5           Truncal ataxia  HP:0002078               NaN   NaN    NaN

phenotypes_Name Truncal ataxia,Seizures,Microcephaly,Intellectual disability,EEG abnormality,

             Syndrome Name    Location  Genotype / Class  Size  Grade
0                      NaN         NaN               NaN   NaN    NaN
1          EEG abnormality  HP:0002353               NaN   NaN    NaN
2  Intellectual disability  HP:0001249               NaN   NaN    NaN
3             Microcephaly  HP:0000252               NaN   NaN    NaN
4                 Seizures  HP:0001250               NaN   NaN    NaN
5           Truncal ataxia  HP:0002078               NaN   NaN    NaN

phenotypes_Name Truncal ataxia,Seizures,Microcephaly,Intellectual disability,EEG abnormality,

                    Syndrome Name    Location  Genotype / Class  Size  Grade
0                             NaN         NaN               NaN   NaN    NaN
1        Abnormality of the heart  HP:0001627               NaN   NaN    NaN
2                    Anal atresia  HP:0002023               NaN   NaN    NaN
3  Downslanted palpebral fissures  HP:0000494               NaN   NaN    NaN
4         Intellectual disability  HP:0001249               NaN   NaN    NaN
5                   Iris coloboma  HP:0000612               NaN   NaN    NaN
6                    Micrognathia  HP:0000347               NaN   NaN    NaN
7                Preauricular pit  HP:0004467               NaN   NaN    NaN
8           Preauricular skin tag  HP:0000384               NaN   NaN    NaN
9                   Short stature  HP:0004322               NaN   NaN    NaN

phenotypes_Name Short stature,Preauricular skin tag,Preauricular pit,Micrognathia,Iris coloboma,Intellectual disability,Downslanted palpebral fissures,Anal atresia,Abnormality of the heart,

,Syndrome Name,Location,Genotype / Class,Size,Grade
0,NaN,NaN,NaN,NaN,NaN
1,Abnormality of the motor neurons,HP:0002450,NaN,NaN,NaN
2,Decreased motor nerve conduction velocity,HP:0003431,NaN,NaN,NaN
3,Hypertrophic nerve changes,HP:0003382,NaN,NaN,NaN
4,Impaired pain sensation,HP:0007328,NaN,NaN,NaN
5,Impaired proprioception,HP:0010831,NaN,NaN,NaN
6,Impaired temperature sensation,HP:0010829,NaN,NaN,NaN
7,Impaired vibratory sensation,HP:0002495,NaN,NaN,NaN
8,Pes cavus,HP:0001761,NaN,NaN,NaN

phenotypes_Name Pes cavus,Impaired vibratory sensation,Impaired temperature sensation,Impaired proprioception,Impaired pain sensation,Hypertrophic nerve changes,Decreased motor nerve conduction velocity,Abnormality of the motor neurons,

              Syndrome Name    Location  Genotype / Class  Size  Grade
0                       NaN         NaN               NaN   NaN    NaN
1   Intellectual disability  HP:0001249               NaN   NaN    NaN
2              Microcephaly  HP:0000252               NaN   NaN    NaN
3  Weak, high-pitched voice  HP:0008374               NaN   NaN    NaN

phenotypes_Name Weak, high-pitched voice,Microcephaly,Intellectual disability,

             Syndrome Name    Location  Genotype / Class  Size  Grade
0                      NaN         NaN               NaN   NaN    NaN
1                 Dementia  HP:0000726               NaN   NaN    NaN
2  Neurofibrillary tangles  HP:0002185               NaN   NaN    NaN
3           Senile plaques  HP:0100256               NaN   NaN    NaN

phenotypes_Name Senile plaques,Neurofibrillary tangles,Dementia,

           Syndrome Name    Location  Genotype / Class  Size  Grade
0                    NaN         NaN               NaN   NaN    NaN
1  Neoplasm of the colon  HP:0100273               NaN   NaN    NaN

phenotypes_Name Neoplasm of the colon,

                      Syndrome Name    Location  Genotype / Class  Size  Grade
0                               NaN         NaN               NaN   NaN    NaN
1  Abnormality of the motor neurons  HP:0002450               NaN   NaN    NaN
2            Motor conduction block  HP:0012078               NaN   NaN    NaN

phenotypes_Name Motor conduction block,Abnormality of the motor neurons,
[Errno 2] No such file or directory: 'C:\\Users\\chen\\Desktop\\data\\phenotypes\\Leri-Weill dyschondrostosis (LWD) - SHOX deletion.xlsx'
[Errno 2] No such file or directory: 'C:\\Users\\chen\\Desktop\\data\\phenotypes\\Leri-Weill dyschondrostosis (LWD) - SHOX deletion.xlsx'

              Syndrome Name    Location  Genotype / Class  Size  Grade
0                       NaN         NaN               NaN   NaN    NaN
1  Abnormality of the heart  HP:0001627               NaN   NaN    NaN
2           Frontal bossing  HP:0002007               NaN   NaN    NaN
3             Lissencephaly  HP:0001339               NaN   NaN    NaN
4              Microcephaly  HP:0000252               NaN   NaN    NaN
5         Midface retrusion  HP:0011800               NaN   NaN    NaN

phenotypes_Name Midface retrusion,Microcephaly,Lissencephaly,Frontal bossing,Abnormality of the heart,

              Syndrome Name    Location  Genotype / Class  Size  Grade
0                       NaN         NaN               NaN   NaN    NaN
1  Abnormality of the heart  HP:0001627               NaN   NaN    NaN
2         Cafe-au-lait spot  HP:0000957               NaN   NaN    NaN
3    Coarse facial features  HP:0000280               NaN   NaN    NaN
4             Hypertelorism  HP:0000316               NaN   NaN    NaN
5   Intellectual disability  HP:0001249               NaN   NaN    NaN
6             Neurofibromas  HP:0001067               NaN   NaN    NaN

phenotypes_Name Neurofibromas,Intellectual disability,Hypertelorism,Coarse facial features,Cafe-au-lait spot,Abnormality of the heart,

              Syndrome Name    Location  Genotype / Class  Size  Grade
0                       NaN         NaN               NaN   NaN    NaN
1  Abnormal CNS myelination  HP:0011400               NaN   NaN    NaN
2            Leukodystrophy  HP:0002415               NaN   NaN    NaN
3        Muscular hypotonia  HP:0001252               NaN   NaN    NaN
4                 Nystagmus  HP:0000639               NaN   NaN    NaN

phenotypes_Name Nystagmus,Muscular hypotonia,Leukodystrophy,Abnormal CNS myelination,

          Syndrome Name    Location  Genotype / Class  Size  Grade
0                   NaN         NaN               NaN   NaN    NaN
1                Autism  HP:0000717               NaN   NaN    NaN
2         Hyperactivity  HP:0000752               NaN   NaN    NaN
3  Short attention span  HP:0000736               NaN   NaN    NaN
4         Short stature  HP:0004322               NaN   NaN    NaN

phenotypes_Name Short stature,Short attention span,Hyperactivity,Autism,

,Syndrome Name,Location,Genotype / Class,Size,Grade
0,NaN,NaN,NaN,NaN,NaN
1,Abnormality of the male genitalia,HP:0010461,NaN,NaN,NaN
2,Delayed cranial suture closure,HP:0000270,NaN,NaN,NaN
3,Intellectual disability,HP:0001249,NaN,NaN,NaN
4,Multiple exostoses,HP:0002762,NaN,NaN,NaN
5,Parietal foramina,HP:0002697,NaN,NaN,NaN

phenotypes_Name Parietal foramina,Multiple exostoses,Intellectual disability,Delayed cranial suture closure,Abnormality of the male genitalia,

                     Syndrome Name    Location  Genotype / Class  Size  Grade
0                              NaN         NaN               NaN   NaN    NaN
1  Feeding difficulties in infancy  HP:0008872               NaN   NaN    NaN
2                     Hypogonadism  HP:0000135               NaN   NaN    NaN
3          Intellectual disability  HP:0001249               NaN   NaN    NaN
4               Muscular hypotonia  HP:0001252               NaN   NaN    NaN
5                  Truncal obesity  HP:0001956               NaN   NaN    NaN

phenotypes_Name Truncal obesity,Muscular hypotonia,Intellectual disability,Hypogonadism,Feeding difficulties in infancy,

                     Syndrome Name    Location  Genotype / Class  Size  Grade
0                              NaN         NaN               NaN   NaN    NaN
1  Feeding difficulties in infancy  HP:0008872               NaN   NaN    NaN
2                     Hypogonadism  HP:0000135               NaN   NaN    NaN
3          Intellectual disability  HP:0001249               NaN   NaN    NaN
4               Muscular hypotonia  HP:0001252               NaN   NaN    NaN
5                  Truncal obesity  HP:0001956               NaN   NaN    NaN

phenotypes_Name Truncal obesity,Muscular hypotonia,Intellectual disability,Hypogonadism,Feeding difficulties in infancy,

              Syndrome Name    Location  Genotype / Class  Size  Grade
0                       NaN         NaN               NaN   NaN    NaN
1  Abnormality of the liver  HP:0001392               NaN   NaN    NaN
2         Diabetes mellitus  HP:0000819               NaN   NaN    NaN
3      Multiple renal cysts  HP:0005562               NaN   NaN    NaN

phenotypes_Name Multiple renal cysts,Diabetes mellitus,Abnormality of the liver,

,Syndrome Name,Location,Genotype / Class,Size,Grade
0,NaN,NaN,NaN,NaN,NaN
1,Delayed speech and language development,HP:0000750,NaN,NaN,NaN
2,Intellectual disability,HP:0001249,NaN,NaN,NaN
3,Microcephaly,HP:0000252,NaN,NaN,NaN

phenotypes_Name Microcephaly,Intellectual disability,Delayed speech and language development,

                Syndrome Name  Location  Genotype / Class  Size  Grade
0                         NaN       NaN               NaN   NaN    NaN
1  No data available in table       NaN               NaN   NaN    NaN

phenotypes_Name No data available in table,

             Syndrome Name    Location  Genotype / Class  Size  Grade
0                      NaN         NaN               NaN   NaN    NaN
1   Brachydactyly syndrome  HP:0001156               NaN   NaN    NaN
2             Hoarse voice  HP:0001609               NaN   NaN    NaN
3            Hyperactivity  HP:0000752               NaN   NaN    NaN
4  Intellectual disability  HP:0001249               NaN   NaN    NaN
5       Muscular hypotonia  HP:0001252               NaN   NaN    NaN
6          Self-mutilation  HP:0000742               NaN   NaN    NaN
7            Short stature  HP:0004322               NaN   NaN    NaN
8        Sleep disturbance  HP:0002360               NaN   NaN    NaN
9     Stereotypic behavior  HP:0000733               NaN   NaN    NaN

phenotypes_Name Stereotypic behavior,Sleep disturbance,Short stature,Self-mutilation,Muscular hypotonia,Intellectual disability,Hyperactivity,Hoarse voice,Brachydactyly syndrome,

                     Syndrome Name    Location  Genotype / Class  Size  Grade
0                              NaN         NaN               NaN   NaN    NaN
1  Accelerated skeletal maturation  HP:0005616               NaN   NaN    NaN
2          Intellectual disability  HP:0001249               NaN   NaN    NaN
3                     Macrocephaly  HP:0000256               NaN   NaN    NaN
4            Mandibular prognathia  HP:0000303               NaN   NaN    NaN
5                     Tall stature  HP:0000098               NaN   NaN    NaN

phenotypes_Name Tall stature,Mandibular prognathia,Macrocephaly,Intellectual disability,Accelerated skeletal maturation,

,Syndrome Name,Location,Genotype / Class,Size,Grade
0,NaN,NaN,NaN,NaN,NaN
1,2-3 toe syndactyly,HP:0004691,NaN,NaN,NaN
2,Abnormality of the genital system,HP:0000078,NaN,NaN,NaN
3,Abnormality of the urinary system,HP:0000079,NaN,NaN,NaN
4,Cleft palate,HP:0000175,NaN,NaN,NaN
5,Cutaneous finger syndactyly,HP:0010554,NaN,NaN,NaN
6,Ectrodactyly (feet),HP:0001839,NaN,NaN,NaN
7,Ectrodactyly (hands),HP:0001171,NaN,NaN,NaN
8,Lacrimal duct aplasia,HP:0007925,NaN,NaN,NaN
9,Median cleft lip,HP:0000161,NaN,NaN,NaN
10,Sensorineural hearing impairment,HP:0000407,NaN,NaN,NaN
11,Toe syndactyly,HP:0001770,NaN,NaN,NaN

phenotypes_Name Toe syndactyly,Sensorineural hearing impairment,Median cleft lip,Lacrimal duct aplasia,Ectrodactyly (hands),Ectrodactyly (feet),Cutaneous finger syndactyly,Cleft palate,Abnormality of the urinary system,Abnormality of the genital system,2-3 toe syndactyly,

,Syndrome Name,Location,Genotype / Class,Size,Grade
0,NaN,NaN,NaN,NaN,NaN
1,Ichthyosiform abnormality of the skin,HP:0008064,NaN,NaN,NaN

phenotypes_Name Ichthyosiform abnormality of the skin,

,Syndrome Name,Location,Genotype / Class,Size,Grade
0,NaN,NaN,NaN,NaN,NaN
1,Abnormality of the male genitalia,HP:0010461,NaN,NaN,NaN
2,Aniridia,HP:0000526,NaN,NaN,NaN
3,Intellectual disability,HP:0001249,NaN,NaN,NaN
4,Renal neoplasm,HP:0009726,NaN,NaN,NaN

phenotypes_Name Renal neoplasm,Intellectual disability,Aniridia,Abnormality of the male genitalia,

                 Syndrome Name    Location  Genotype / Class  Size  Grade
0                          NaN         NaN               NaN   NaN    NaN
1        Aortic valve stenosis  HP:0001650               NaN   NaN    NaN
2  Everted lower lip vermilion  HP:0000232               NaN   NaN    NaN
3      Intellectual disability  HP:0001249               NaN   NaN    NaN
4             Malar flattening  HP:0000272               NaN   NaN    NaN
5                  Microdontia  HP:0000691               NaN   NaN    NaN
6         Short attention span  HP:0000736               NaN   NaN    NaN
7                Short stature  HP:0004322               NaN   NaN    NaN

phenotypes_Name Short stature,Short attention span,Microdontia,Malar flattening,Intellectual disability,Everted lower lip vermilion,Aortic valve stenosis,

               Syndrome Name    Location  Genotype / Class  Size  Grade
0                        NaN         NaN               NaN   NaN    NaN
1    Intellectual disability  HP:0001249               NaN   NaN    NaN
2               Microcephaly  HP:0000252               NaN   NaN    NaN
3         Muscular hypotonia  HP:0001252               NaN   NaN    NaN
4                   Seizures  HP:0001250               NaN   NaN    NaN
5  Small for gestational age  HP:0001518               NaN   NaN    NaN

phenotypes_Name Small for gestational age,Seizures,Muscular hypotonia,Microcephaly,Intellectual disability,

             Syndrome Name    Location  Genotype / Class  Size  Grade
0                      NaN         NaN               NaN   NaN    NaN
1  Intellectual disability  HP:0001249               NaN   NaN    NaN

phenotypes_Name Intellectual disability,

                Syndrome Name  Location  Genotype / Class  Size  Grade
0                         NaN       NaN               NaN   NaN    NaN
1  No data available in table       NaN               NaN   NaN    NaN

phenotypes_Name No data available in table,

,Syndrome Name,Location,Genotype / Class,Size,Grade
0,NaN,NaN,NaN,NaN,NaN
1,Delayed speech and language development,HP:0000750,NaN,NaN,NaN
2,Intellectual disability,HP:0001249,NaN,NaN,NaN
3,Muscular hypotonia,HP:0001252,NaN,NaN,NaN
4,Recurrent infections,HP:0002719,NaN,NaN,NaN
5,Seizures,HP:0001250,NaN,NaN,NaN
6,Spasticity,HP:0001257,NaN,NaN,NaN

phenotypes_Name Spasticity,Seizures,Recurrent infections,Muscular hypotonia,Intellectual disability,Delayed speech and language development,

                Syndrome Name  Location  Genotype / Class  Size  Grade
0                         NaN       NaN               NaN   NaN    NaN
1  No data available in table       NaN               NaN   NaN    NaN

phenotypes_Name No data available in table,

In [19]:
home_df["phenotypes-Accession"] = home_df["Syndrome Name"].apply(lambda x:get_phenotypes_accession(x))

                 Syndrome Name    Location  Genotype / Class  Size  Grade
0                          NaN         NaN               NaN   NaN    NaN
1      Intellectual disability  HP:0001249               NaN   NaN    NaN
2              Osteopoikilosis  HP:0010739               NaN   NaN    NaN
3  Proportionate short stature  HP:0003508               NaN   NaN    NaN

phenotypes_Accession HP:0003508,HP:0010739,HP:0001249,

             Syndrome Name    Location  Genotype / Class  Size  Grade
0                      NaN         NaN               NaN   NaN    NaN
1  Abnormality of the face  HP:0000271               NaN   NaN    NaN
2  Intellectual disability  HP:0001249               NaN   NaN    NaN
3                 Seizures  HP:0001250               NaN   NaN    NaN

phenotypes_Accession HP:0001250,HP:0001249,HP:0000271,

               Syndrome Name    Location  Genotype / Class  Size  Grade
0                        NaN         NaN               NaN   NaN    NaN
1    Abnormality of the face  HP:0000271               NaN   NaN    NaN
2                Hypospadias  HP:0000047               NaN   NaN    NaN
3    Intellectual disability  HP:0001249               NaN   NaN    NaN
4               Joint laxity  HP:0001388               NaN   NaN    NaN
5               Microcephaly  HP:0000252               NaN   NaN    NaN
6              Short stature  HP:0004322               NaN   NaN    NaN
7  Small for gestational age  HP:0001518               NaN   NaN    NaN

phenotypes_Accession HP:0001518,HP:0004322,HP:0000252,HP:0001388,HP:0001249,HP:0000047,HP:0000271,

               Syndrome Name    Location  Genotype / Class  Size  Grade
0                        NaN         NaN               NaN   NaN    NaN
1  Abnormality of the kidney  HP:0000077               NaN   NaN    NaN
2    Intellectual disability  HP:0001249               NaN   NaN    NaN
3               Tall stature  HP:0000098               NaN   NaN    NaN

phenotypes_Accession HP:0000098,HP:0001249,HP:0000077,

                Syndrome Name  Location  Genotype / Class  Size  Grade
0                         NaN       NaN               NaN   NaN    NaN
1  No data available in table       NaN               NaN   NaN    NaN

phenotypes_Accession nan,nan,

                     Syndrome Name    Location  Genotype / Class  Size  Grade
0                              NaN         NaN               NaN   NaN    NaN
1          Abnormality of the face  HP:0000271               NaN   NaN    NaN
2  Feeding difficulties in infancy  HP:0008872               NaN   NaN    NaN
3          Intellectual disability  HP:0001249               NaN   NaN    NaN
4                     Pointed chin  HP:0000307               NaN   NaN    NaN

phenotypes_Accession HP:0000307,HP:0001249,HP:0008872,HP:0000271,

                Syndrome Name    Location  Genotype / Class  Size  Grade
0                         NaN         NaN               NaN   NaN    NaN
1       Abnormal facial shape  HP:0001999               NaN   NaN    NaN
2                      Autism  HP:0000717               NaN   NaN    NaN
3  Global developmental delay  HP:0001263               NaN   NaN    NaN
4     Intellectual disability  HP:0001249               NaN   NaN    NaN
5                Microcephaly  HP:0000252               NaN   NaN    NaN
6               Short Stature  HP:0004322               NaN   NaN    NaN

phenotypes_Accession HP:0004322,HP:0000252,HP:0001249,HP:0001263,HP:0000717,HP:0001999,

                Syndrome Name  Location  Genotype / Class  Size  Grade
0                         NaN       NaN               NaN   NaN    NaN
1  No data available in table       NaN               NaN   NaN    NaN

phenotypes_Accession nan,nan,

                Syndrome Name  Location  Genotype / Class  Size  Grade
0                         NaN       NaN               NaN   NaN    NaN
1  No data available in table       NaN               NaN   NaN    NaN

phenotypes_Accession nan,nan,

                     Syndrome Name    Location  Genotype / Class  Size  Grade
0                              NaN         NaN               NaN   NaN    NaN
1  Feeding difficulties in infancy  HP:0008872               NaN   NaN    NaN
2          Intellectual disability  HP:0001249               NaN   NaN    NaN
3                        Long face  HP:0000276               NaN   NaN    NaN
4               Muscular hypotonia  HP:0001252               NaN   NaN    NaN
5        Small for gestational age  HP:0001518               NaN   NaN    NaN

phenotypes_Accession HP:0001518,HP:0001252,HP:0000276,HP:0001249,HP:0008872,

                    Syndrome Name    Location  Genotype / Class  Size  Grade
0                             NaN         NaN               NaN   NaN    NaN
1                  Deeply set eye  HP:0000490               NaN   NaN    NaN
2  Delayed cranial suture closure  HP:0000270               NaN   NaN    NaN
3         Intellectual disability  HP:0001249               NaN   NaN    NaN
4              Muscular hypotonia  HP:0001252               NaN   NaN    NaN
5                    Pointed chin  HP:0000307               NaN   NaN    NaN
6                        Seizures  HP:0001250               NaN   NaN    NaN

phenotypes_Accession HP:0001250,HP:0000307,HP:0001252,HP:0001249,HP:0000270,HP:0000490,

             Syndrome Name    Location  Genotype / Class  Size  Grade
0                      NaN         NaN               NaN   NaN    NaN
1  Intellectual disability  HP:0001249               NaN   NaN    NaN
2             Microcephaly  HP:0000252               NaN   NaN    NaN

phenotypes_Accession HP:0000252,HP:0001249,

             Syndrome Name    Location  Genotype / Class  Size  Grade
0                      NaN         NaN               NaN   NaN    NaN
1                   Autism  HP:0000717               NaN   NaN    NaN
2  Intellectual disability  HP:0001249               NaN   NaN    NaN

phenotypes_Accession HP:0001249,HP:0000717,

                Syndrome Name  Location  Genotype / Class  Size  Grade
0                         NaN       NaN               NaN   NaN    NaN
1  No data available in table       NaN               NaN   NaN    NaN

phenotypes_Accession nan,nan,

,Syndrome Name,Location,Genotype / Class,Size,Grade
0,NaN,NaN,NaN,NaN,NaN
1,Abnormality of the heart,HP:0001627,NaN,NaN,NaN
2,Delayed speech and language development,HP:0000750,NaN,NaN,NaN
3,Hypocalcemia,HP:0002901,NaN,NaN,NaN
4,Nasal speech,HP:0001611,NaN,NaN,NaN
5,T lymphocytopenia,HP:0005403,NaN,NaN,NaN

phenotypes_Accession HP:0005403,HP:0001611,HP:0002901,HP:0000750,HP:0001627,

             Syndrome Name    Location  Genotype / Class  Size  Grade
0                      NaN         NaN               NaN   NaN    NaN
1  Intellectual disability  HP:0001249               NaN   NaN    NaN
2             Nasal speech  HP:0001611               NaN   NaN    NaN
3              Telecanthus  HP:0000506               NaN   NaN    NaN

phenotypes_Accession HP:0000506,HP:0001611,HP:0001249,

               Syndrome Name    Location  Genotype / Class  Size  Grade
0                        NaN         NaN               NaN   NaN    NaN
1    Abnormality of the face  HP:0000271               NaN   NaN    NaN
2    Intellectual disability  HP:0001249               NaN   NaN    NaN
3              Short stature  HP:0004322               NaN   NaN    NaN
4  Small for gestational age  HP:0001518               NaN   NaN    NaN

phenotypes_Accession HP:0001518,HP:0004322,HP:0001249,HP:0000271,

,Syndrome Name,Location,Genotype / Class,Size,Grade
0,NaN,NaN,NaN,NaN,NaN
1,Autism,HP:0000717,NaN,NaN,NaN
2,Delayed speech and language development,HP:0000750,NaN,NaN,NaN
3,Hyperactivity,HP:0000752,NaN,NaN,NaN
4,Intellectual disability,HP:0001249,NaN,NaN,NaN
5,Muscular hypotonia,HP:0001252,NaN,NaN,NaN

phenotypes_Accession HP:0001252,HP:0001249,HP:0000752,HP:0000750,HP:0000717,

,Syndrome Name,Location,Genotype / Class,Size,Grade
0,NaN,NaN,NaN,NaN,NaN
1,Abnormal nasal morphology,HP:0005105,NaN,NaN,NaN
2,Abnormality of digit,HP:0011297,NaN,NaN,NaN
3,Abnormality of the palate,HP:0000174,NaN,NaN,NaN
4,Abnormality of the philtrum,HP:0000288,NaN,NaN,NaN
5,Central hypotonia,HP:0011398,NaN,NaN,NaN
6,Cranial asymmetry,HP:0000267,NaN,NaN,NaN
7,Delayed speech and language development,HP:0000750,NaN,NaN,NaN
8,Downslanted palpebral fissures,HP:0000494,NaN,NaN,NaN
9,Feeding difficulties,HP:0011968,NaN,NaN,NaN
10,Global developmental delay,HP:0001263,NaN,NaN,NaN
11,Intellectual disability,HP:0001249,NaN,NaN,NaN
12,Microcephaly,HP:0000252,NaN,NaN,NaN
13,Prominent epicanthal folds,HP:0007930,NaN,NaN,NaN
14,Ptosis,HP:0000508,NaN,NaN,NaN
15,Telecanthus,HP:0000506,NaN,NaN,NaN

phenotypes_Accession HP:0000506,HP:0000508,HP:0007930,HP:0000252,HP:0001249,HP:0001263,HP:0011968,HP:0000494,HP:0000750,HP:0000267,HP:0011398,HP:0000288,HP:0000174,HP:0011297,HP:0005105,

                Syndrome Name  Location  Genotype / Class  Size  Grade
0                         NaN       NaN               NaN   NaN    NaN
1  No data available in table       NaN               NaN   NaN    NaN

phenotypes_Accession nan,nan,

,Syndrome Name,Location,Genotype / Class,Size,Grade
0,NaN,NaN,NaN,NaN,NaN
1,Behavioural/Psychiatric Abnormality,HP:0000708,NaN,NaN,NaN
2,Cleft palate,HP:0000175,NaN,NaN,NaN
3,Feeding difficulties in infancy,HP:0008872,NaN,NaN,NaN
4,High palate,HP:0000218,NaN,NaN,NaN
5,Inguinal hernia,HP:0000023,NaN,NaN,NaN
6,Intellectual disability,HP:0001249,NaN,NaN,NaN
7,Seizures,HP:0001250,NaN,NaN,NaN
8,Short stature,HP:0004322,NaN,NaN,NaN

phenotypes_Accession HP:0004322,HP:0001250,HP:0001249,HP:0000023,HP:0000218,HP:0008872,HP:0000175,HP:0000708,

              Syndrome Name    Location  Genotype / Class  Size  Grade
0                       NaN         NaN               NaN   NaN    NaN
1    Brachydactyly syndrome  HP:0001156               NaN   NaN    NaN
2            Deeply set eye  HP:0000490               NaN   NaN    NaN
3   Intellectual disability  HP:0001249               NaN   NaN    NaN
4                Round face  HP:0000311               NaN   NaN    NaN
5  Thin upper lip vermilion  HP:0000219               NaN   NaN    NaN

phenotypes_Accession HP:0000219,HP:0000311,HP:0001249,HP:0000490,HP:0001156,

             Syndrome Name    Location  Genotype / Class  Size  Grade
0                      NaN         NaN               NaN   NaN    NaN
1  Intellectual disability  HP:0001249               NaN   NaN    NaN
2                Long face  HP:0000276               NaN   NaN    NaN
3   Prominent nasal bridge  HP:0000426               NaN   NaN    NaN
4           Short philtrum  HP:0000322               NaN   NaN    NaN

phenotypes_Accession HP:0000322,HP:0000426,HP:0000276,HP:0001249,

                Syndrome Name  Location  Genotype / Class  Size  Grade
0                         NaN       NaN               NaN   NaN    NaN
1  No data available in table       NaN               NaN   NaN    NaN

phenotypes_Accession nan,nan,

,Syndrome Name,Location,Genotype / Class,Size,Grade
0,NaN,NaN,NaN,NaN,NaN
1,Delayed speech and language development,HP:0000750,NaN,NaN,NaN
2,Intellectual disability,HP:0001249,NaN,NaN,NaN
3,Short attention span,HP:0000736,NaN,NaN,NaN

phenotypes_Accession HP:0000736,HP:0001249,HP:0000750,

                     Syndrome Name    Location  Genotype / Class  Size  Grade
0                              NaN         NaN               NaN   NaN    NaN
1         Abnormality of the heart  HP:0001627               NaN   NaN    NaN
2    Atrioventricular canal defect  HP:0006695               NaN   NaN    NaN
3  Congenital diaphragmatic hernia  HP:0000776               NaN   NaN    NaN
4                   Cryptorchidism  HP:0000028               NaN   NaN    NaN
5      Defect in the atrial septum  HP:0001631               NaN   NaN    NaN
6                    Hyperactivity  HP:0000752               NaN   NaN    NaN
7          Intellectual disability  HP:0001249               NaN   NaN    NaN

phenotypes_Accession HP:0001249,HP:0000752,HP:0001631,HP:0000028,HP:0000776,HP:0006695,HP:0001627,

,Syndrome Name,Location,Genotype / Class,Size,Grade
0,NaN,NaN,NaN,NaN,NaN
1,Abnormal facial shape,HP:0001999,NaN,NaN,NaN
2,Behavioural/Psychiatric Abnormality,HP:0000708,NaN,NaN,NaN
3,Delayed speech and language development,HP:0000750,NaN,NaN,NaN
4,Intellectual disability,HP:0001249,NaN,NaN,NaN
5,Malformation of the heart and great vessels,HP:0002564,NaN,NaN,NaN

phenotypes_Accession HP:0002564,HP:0001249,HP:0000750,HP:0000708,HP:0001999,

,Syndrome Name,Location,Genotype / Class,Size,Grade
0,NaN,NaN,NaN,NaN,NaN
1,Downturned corners of mouth,HP:0002714,NaN,NaN,NaN
2,Exaggerated cupid's bow,HP:0002263,NaN,NaN,NaN
3,Full cheeks,HP:0000293,NaN,NaN,NaN
4,High forehead,HP:0000348,NaN,NaN,NaN
5,Intellectual disability,HP:0001249,NaN,NaN,NaN
6,Low-set ears,HP:0000369,NaN,NaN,NaN
7,Micrognathia,HP:0000347,NaN,NaN,NaN
8,Opacification of the corneal stroma,HP:0007759,NaN,NaN,NaN
9,Prominent ears,HP:0000412,NaN,NaN,NaN
10,Ptosis,HP:0000508,NaN,NaN,NaN
11,Round face,HP:0000311,NaN,NaN,NaN
12,Short philtrum,HP:0000322,NaN,NaN,NaN

phenotypes_Accession HP:0000322,HP:0000311,HP:0000508,HP:0000412,HP:0007759,HP:0000347,HP:0000369,HP:0001249,HP:0000348,HP:0000293,HP:0002263,HP:0002714,

              Syndrome Name    Location  Genotype / Class  Size  Grade
0                       NaN         NaN               NaN   NaN    NaN
1  Abnormality of the heart  HP:0001627               NaN   NaN    NaN
2          Anteverted nares  HP:0000463               NaN   NaN    NaN
3   Intellectual disability  HP:0001249               NaN   NaN    NaN
4              Microcephaly  HP:0000252               NaN   NaN    NaN
5         Midface retrusion  HP:0011800               NaN   NaN    NaN
6        Muscular hypotonia  HP:0001252               NaN   NaN    NaN
7         Protruding tongue  HP:0010808               NaN   NaN    NaN
8                Short nose  HP:0003196               NaN   NaN    NaN
9                 Synophrys  HP:0000664               NaN   NaN    NaN

phenotypes_Accession HP:0000664,HP:0003196,HP:0010808,HP:0001252,HP:0011800,HP:0000252,HP:0001249,HP:0000463,HP:0001627,

                 Syndrome Name    Location  Genotype / Class  Size  Grade
0                          NaN         NaN               NaN   NaN    NaN
1  Abnormality of erythrocytes  HP:0001877               NaN   NaN    NaN
2      Intellectual disability  HP:0001249               NaN   NaN    NaN

phenotypes_Accession HP:0001249,HP:0001877,

  Syndrome Name    Location  Genotype / Class  Size  Grade
0           NaN         NaN               NaN   NaN    NaN
1  Oligospermia  HP:0000798               NaN   NaN    NaN

phenotypes_Accession HP:0000798,

  Syndrome Name    Location  Genotype / Class  Size  Grade
0           NaN         NaN               NaN   NaN    NaN
1  Oligospermia  HP:0000798               NaN   NaN    NaN

phenotypes_Accession HP:0000798,

  Syndrome Name    Location  Genotype / Class  Size  Grade
0           NaN         NaN               NaN   NaN    NaN
1  Oligospermia  HP:0000798               NaN   NaN    NaN

phenotypes_Accession HP:0000798,

  Syndrome Name    Location  Genotype / Class  Size  Grade
0           NaN         NaN               NaN   NaN    NaN
1  Oligospermia  HP:0000798               NaN   NaN    NaN

phenotypes_Accession HP:0000798,

,Syndrome Name,Location,Genotype / Class,Size,Grade
0,NaN,NaN,NaN,NaN,NaN
1,Abnormality of pyramidal motor function,HP:0007256,NaN,NaN,NaN
2,Dysautonomia,HP:0002459,NaN,NaN,NaN
3,Leukodystrophy,HP:0002415,NaN,NaN,NaN
4,Peripheral demyelination,HP:0011096,NaN,NaN,NaN

phenotypes_Accession HP:0011096,HP:0002415,HP:0002459,HP:0007256,

             Syndrome Name    Location  Genotype / Class  Size  Grade
0                      NaN         NaN               NaN   NaN    NaN
1          EEG abnormality  HP:0002353               NaN   NaN    NaN
2  Intellectual disability  HP:0001249               NaN   NaN    NaN
3             Microcephaly  HP:0000252               NaN   NaN    NaN
4                 Seizures  HP:0001250               NaN   NaN    NaN
5           Truncal ataxia  HP:0002078               NaN   NaN    NaN

phenotypes_Accession HP:0002078,HP:0001250,HP:0000252,HP:0001249,HP:0002353,

             Syndrome Name    Location  Genotype / Class  Size  Grade
0                      NaN         NaN               NaN   NaN    NaN
1          EEG abnormality  HP:0002353               NaN   NaN    NaN
2  Intellectual disability  HP:0001249               NaN   NaN    NaN
3             Microcephaly  HP:0000252               NaN   NaN    NaN
4                 Seizures  HP:0001250               NaN   NaN    NaN
5           Truncal ataxia  HP:0002078               NaN   NaN    NaN

phenotypes_Accession HP:0002078,HP:0001250,HP:0000252,HP:0001249,HP:0002353,

                    Syndrome Name    Location  Genotype / Class  Size  Grade
0                             NaN         NaN               NaN   NaN    NaN
1        Abnormality of the heart  HP:0001627               NaN   NaN    NaN
2                    Anal atresia  HP:0002023               NaN   NaN    NaN
3  Downslanted palpebral fissures  HP:0000494               NaN   NaN    NaN
4         Intellectual disability  HP:0001249               NaN   NaN    NaN
5                   Iris coloboma  HP:0000612               NaN   NaN    NaN
6                    Micrognathia  HP:0000347               NaN   NaN    NaN
7                Preauricular pit  HP:0004467               NaN   NaN    NaN
8           Preauricular skin tag  HP:0000384               NaN   NaN    NaN
9                   Short stature  HP:0004322               NaN   NaN    NaN

phenotypes_Accession HP:0004322,HP:0000384,HP:0004467,HP:0000347,HP:0000612,HP:0001249,HP:0000494,HP:0002023,HP:0001627,

,Syndrome Name,Location,Genotype / Class,Size,Grade
0,NaN,NaN,NaN,NaN,NaN
1,Abnormality of the motor neurons,HP:0002450,NaN,NaN,NaN
2,Decreased motor nerve conduction velocity,HP:0003431,NaN,NaN,NaN
3,Hypertrophic nerve changes,HP:0003382,NaN,NaN,NaN
4,Impaired pain sensation,HP:0007328,NaN,NaN,NaN
5,Impaired proprioception,HP:0010831,NaN,NaN,NaN
6,Impaired temperature sensation,HP:0010829,NaN,NaN,NaN
7,Impaired vibratory sensation,HP:0002495,NaN,NaN,NaN
8,Pes cavus,HP:0001761,NaN,NaN,NaN

phenotypes_Accession HP:0001761,HP:0002495,HP:0010829,HP:0010831,HP:0007328,HP:0003382,HP:0003431,HP:0002450,

              Syndrome Name    Location  Genotype / Class  Size  Grade
0                       NaN         NaN               NaN   NaN    NaN
1   Intellectual disability  HP:0001249               NaN   NaN    NaN
2              Microcephaly  HP:0000252               NaN   NaN    NaN
3  Weak, high-pitched voice  HP:0008374               NaN   NaN    NaN

phenotypes_Accession HP:0008374,HP:0000252,HP:0001249,

             Syndrome Name    Location  Genotype / Class  Size  Grade
0                      NaN         NaN               NaN   NaN    NaN
1                 Dementia  HP:0000726               NaN   NaN    NaN
2  Neurofibrillary tangles  HP:0002185               NaN   NaN    NaN
3           Senile plaques  HP:0100256               NaN   NaN    NaN

phenotypes_Accession HP:0100256,HP:0002185,HP:0000726,

           Syndrome Name    Location  Genotype / Class  Size  Grade
0                    NaN         NaN               NaN   NaN    NaN
1  Neoplasm of the colon  HP:0100273               NaN   NaN    NaN

phenotypes_Accession HP:0100273,

                      Syndrome Name    Location  Genotype / Class  Size  Grade
0                               NaN         NaN               NaN   NaN    NaN
1  Abnormality of the motor neurons  HP:0002450               NaN   NaN    NaN
2            Motor conduction block  HP:0012078               NaN   NaN    NaN

phenotypes_Accession HP:0012078,HP:0002450,
[Errno 2] No such file or directory: 'C:\\Users\\chen\\Desktop\\data\\phenotypes\\Leri-Weill dyschondrostosis (LWD) - SHOX deletion.xlsx'
[Errno 2] No such file or directory: 'C:\\Users\\chen\\Desktop\\data\\phenotypes\\Leri-Weill dyschondrostosis (LWD) - SHOX deletion.xlsx'

              Syndrome Name    Location  Genotype / Class  Size  Grade
0                       NaN         NaN               NaN   NaN    NaN
1  Abnormality of the heart  HP:0001627               NaN   NaN    NaN
2           Frontal bossing  HP:0002007               NaN   NaN    NaN
3             Lissencephaly  HP:0001339               NaN   NaN    NaN
4              Microcephaly  HP:0000252               NaN   NaN    NaN
5         Midface retrusion  HP:0011800               NaN   NaN    NaN

phenotypes_Accession HP:0011800,HP:0000252,HP:0001339,HP:0002007,HP:0001627,

              Syndrome Name    Location  Genotype / Class  Size  Grade
0                       NaN         NaN               NaN   NaN    NaN
1  Abnormality of the heart  HP:0001627               NaN   NaN    NaN
2         Cafe-au-lait spot  HP:0000957               NaN   NaN    NaN
3    Coarse facial features  HP:0000280               NaN   NaN    NaN
4             Hypertelorism  HP:0000316               NaN   NaN    NaN
5   Intellectual disability  HP:0001249               NaN   NaN    NaN
6             Neurofibromas  HP:0001067               NaN   NaN    NaN

phenotypes_Accession HP:0001067,HP:0001249,HP:0000316,HP:0000280,HP:0000957,HP:0001627,

              Syndrome Name    Location  Genotype / Class  Size  Grade
0                       NaN         NaN               NaN   NaN    NaN
1  Abnormal CNS myelination  HP:0011400               NaN   NaN    NaN
2            Leukodystrophy  HP:0002415               NaN   NaN    NaN
3        Muscular hypotonia  HP:0001252               NaN   NaN    NaN
4                 Nystagmus  HP:0000639               NaN   NaN    NaN

phenotypes_Accession HP:0000639,HP:0001252,HP:0002415,HP:0011400,

          Syndrome Name    Location  Genotype / Class  Size  Grade
0                   NaN         NaN               NaN   NaN    NaN
1                Autism  HP:0000717               NaN   NaN    NaN
2         Hyperactivity  HP:0000752               NaN   NaN    NaN
3  Short attention span  HP:0000736               NaN   NaN    NaN
4         Short stature  HP:0004322               NaN   NaN    NaN

phenotypes_Accession HP:0004322,HP:0000736,HP:0000752,HP:0000717,

,Syndrome Name,Location,Genotype / Class,Size,Grade
0,NaN,NaN,NaN,NaN,NaN
1,Abnormality of the male genitalia,HP:0010461,NaN,NaN,NaN
2,Delayed cranial suture closure,HP:0000270,NaN,NaN,NaN
3,Intellectual disability,HP:0001249,NaN,NaN,NaN
4,Multiple exostoses,HP:0002762,NaN,NaN,NaN
5,Parietal foramina,HP:0002697,NaN,NaN,NaN

phenotypes_Accession HP:0002697,HP:0002762,HP:0001249,HP:0000270,HP:0010461,

                     Syndrome Name    Location  Genotype / Class  Size  Grade
0                              NaN         NaN               NaN   NaN    NaN
1  Feeding difficulties in infancy  HP:0008872               NaN   NaN    NaN
2                     Hypogonadism  HP:0000135               NaN   NaN    NaN
3          Intellectual disability  HP:0001249               NaN   NaN    NaN
4               Muscular hypotonia  HP:0001252               NaN   NaN    NaN
5                  Truncal obesity  HP:0001956               NaN   NaN    NaN

phenotypes_Accession HP:0001956,HP:0001252,HP:0001249,HP:0000135,HP:0008872,

                     Syndrome Name    Location  Genotype / Class  Size  Grade
0                              NaN         NaN               NaN   NaN    NaN
1  Feeding difficulties in infancy  HP:0008872               NaN   NaN    NaN
2                     Hypogonadism  HP:0000135               NaN   NaN    NaN
3          Intellectual disability  HP:0001249               NaN   NaN    NaN
4               Muscular hypotonia  HP:0001252               NaN   NaN    NaN
5                  Truncal obesity  HP:0001956               NaN   NaN    NaN

phenotypes_Accession HP:0001956,HP:0001252,HP:0001249,HP:0000135,HP:0008872,

              Syndrome Name    Location  Genotype / Class  Size  Grade
0                       NaN         NaN               NaN   NaN    NaN
1  Abnormality of the liver  HP:0001392               NaN   NaN    NaN
2         Diabetes mellitus  HP:0000819               NaN   NaN    NaN
3      Multiple renal cysts  HP:0005562               NaN   NaN    NaN

phenotypes_Accession HP:0005562,HP:0000819,HP:0001392,

,Syndrome Name,Location,Genotype / Class,Size,Grade
0,NaN,NaN,NaN,NaN,NaN
1,Delayed speech and language development,HP:0000750,NaN,NaN,NaN
2,Intellectual disability,HP:0001249,NaN,NaN,NaN
3,Microcephaly,HP:0000252,NaN,NaN,NaN

phenotypes_Accession HP:0000252,HP:0001249,HP:0000750,

                Syndrome Name  Location  Genotype / Class  Size  Grade
0                         NaN       NaN               NaN   NaN    NaN
1  No data available in table       NaN               NaN   NaN    NaN

phenotypes_Accession nan,nan,

             Syndrome Name    Location  Genotype / Class  Size  Grade
0                      NaN         NaN               NaN   NaN    NaN
1   Brachydactyly syndrome  HP:0001156               NaN   NaN    NaN
2             Hoarse voice  HP:0001609               NaN   NaN    NaN
3            Hyperactivity  HP:0000752               NaN   NaN    NaN
4  Intellectual disability  HP:0001249               NaN   NaN    NaN
5       Muscular hypotonia  HP:0001252               NaN   NaN    NaN
6          Self-mutilation  HP:0000742               NaN   NaN    NaN
7            Short stature  HP:0004322               NaN   NaN    NaN
8        Sleep disturbance  HP:0002360               NaN   NaN    NaN
9     Stereotypic behavior  HP:0000733               NaN   NaN    NaN

phenotypes_Accession HP:0000733,HP:0002360,HP:0004322,HP:0000742,HP:0001252,HP:0001249,HP:0000752,HP:0001609,HP:0001156,

                     Syndrome Name    Location  Genotype / Class  Size  Grade
0                              NaN         NaN               NaN   NaN    NaN
1  Accelerated skeletal maturation  HP:0005616               NaN   NaN    NaN
2          Intellectual disability  HP:0001249               NaN   NaN    NaN
3                     Macrocephaly  HP:0000256               NaN   NaN    NaN
4            Mandibular prognathia  HP:0000303               NaN   NaN    NaN
5                     Tall stature  HP:0000098               NaN   NaN    NaN

phenotypes_Accession HP:0000098,HP:0000303,HP:0000256,HP:0001249,HP:0005616,

,Syndrome Name,Location,Genotype / Class,Size,Grade
0,NaN,NaN,NaN,NaN,NaN
1,2-3 toe syndactyly,HP:0004691,NaN,NaN,NaN
2,Abnormality of the genital system,HP:0000078,NaN,NaN,NaN
3,Abnormality of the urinary system,HP:0000079,NaN,NaN,NaN
4,Cleft palate,HP:0000175,NaN,NaN,NaN
5,Cutaneous finger syndactyly,HP:0010554,NaN,NaN,NaN
6,Ectrodactyly (feet),HP:0001839,NaN,NaN,NaN
7,Ectrodactyly (hands),HP:0001171,NaN,NaN,NaN
8,Lacrimal duct aplasia,HP:0007925,NaN,NaN,NaN
9,Median cleft lip,HP:0000161,NaN,NaN,NaN
10,Sensorineural hearing impairment,HP:0000407,NaN,NaN,NaN
11,Toe syndactyly,HP:0001770,NaN,NaN,NaN

phenotypes_Accession HP:0001770,HP:0000407,HP:0000161,HP:0007925,HP:0001171,HP:0001839,HP:0010554,HP:0000175,HP:0000079,HP:0000078,HP:0004691,

,Syndrome Name,Location,Genotype / Class,Size,Grade
0,NaN,NaN,NaN,NaN,NaN
1,Ichthyosiform abnormality of the skin,HP:0008064,NaN,NaN,NaN

phenotypes_Accession HP:0008064,

,Syndrome Name,Location,Genotype / Class,Size,Grade
0,NaN,NaN,NaN,NaN,NaN
1,Abnormality of the male genitalia,HP:0010461,NaN,NaN,NaN
2,Aniridia,HP:0000526,NaN,NaN,NaN
3,Intellectual disability,HP:0001249,NaN,NaN,NaN
4,Renal neoplasm,HP:0009726,NaN,NaN,NaN

phenotypes_Accession HP:0009726,HP:0001249,HP:0000526,HP:0010461,

                 Syndrome Name    Location  Genotype / Class  Size  Grade
0                          NaN         NaN               NaN   NaN    NaN
1        Aortic valve stenosis  HP:0001650               NaN   NaN    NaN
2  Everted lower lip vermilion  HP:0000232               NaN   NaN    NaN
3      Intellectual disability  HP:0001249               NaN   NaN    NaN
4             Malar flattening  HP:0000272               NaN   NaN    NaN
5                  Microdontia  HP:0000691               NaN   NaN    NaN
6         Short attention span  HP:0000736               NaN   NaN    NaN
7                Short stature  HP:0004322               NaN   NaN    NaN

phenotypes_Accession HP:0004322,HP:0000736,HP:0000691,HP:0000272,HP:0001249,HP:0000232,HP:0001650,

               Syndrome Name    Location  Genotype / Class  Size  Grade
0                        NaN         NaN               NaN   NaN    NaN
1    Intellectual disability  HP:0001249               NaN   NaN    NaN
2               Microcephaly  HP:0000252               NaN   NaN    NaN
3         Muscular hypotonia  HP:0001252               NaN   NaN    NaN
4                   Seizures  HP:0001250               NaN   NaN    NaN
5  Small for gestational age  HP:0001518               NaN   NaN    NaN

phenotypes_Accession HP:0001518,HP:0001250,HP:0001252,HP:0000252,HP:0001249,

             Syndrome Name    Location  Genotype / Class  Size  Grade
0                      NaN         NaN               NaN   NaN    NaN
1  Intellectual disability  HP:0001249               NaN   NaN    NaN

phenotypes_Accession HP:0001249,

                Syndrome Name  Location  Genotype / Class  Size  Grade
0                         NaN       NaN               NaN   NaN    NaN
1  No data available in table       NaN               NaN   NaN    NaN

phenotypes_Accession nan,nan,

,Syndrome Name,Location,Genotype / Class,Size,Grade
0,NaN,NaN,NaN,NaN,NaN
1,Delayed speech and language development,HP:0000750,NaN,NaN,NaN
2,Intellectual disability,HP:0001249,NaN,NaN,NaN
3,Muscular hypotonia,HP:0001252,NaN,NaN,NaN
4,Recurrent infections,HP:0002719,NaN,NaN,NaN
5,Seizures,HP:0001250,NaN,NaN,NaN
6,Spasticity,HP:0001257,NaN,NaN,NaN

phenotypes_Accession HP:0001257,HP:0001250,HP:0002719,HP:0001252,HP:0001249,HP:0000750,

                Syndrome Name  Location  Genotype / Class  Size  Grade
0                         NaN       NaN               NaN   NaN    NaN
1  No data available in table       NaN               NaN   NaN    NaN

phenotypes_Accession nan,nan,

In [15]:
pd.set_option("display.max_colwidth",10000)

In [16]:
home_df

,Syndrome Name,Location,Genotype / Class,Size,Grade,overview-Clinical,phenotypes-Name,phenotypes-Accession
0,None,None,None,None,NaN,None,None,None
1,None,None,None,None,NaN,None,None,None
2,12q14 microdeletion syndrome,12\n:\n64678139\n-\n68251745\nGRCh38,Heterozygous\nDeletion,3.57 Mb,NaN,"Clinical: The three children reported by Menten et al all had a similar and characteristic phenotype consisting of mild mental retardation, failure to thrive in infancy, proportionate short stature and osteopoikilosis. The common 3.44Mb deleted region contains the LEMD3 gene. Loss of function mutations in this gene cause osteopoikilosis and the Bushke-Ollendorff syndrome (BOS). LEMD3 mutations have also been identified in melorheostosis patients who belong to a family with BOS but they are rarely present in sporadic melorheostosis\nFailure to thrive, short stature and mental retardation are not observed in patients with osteopoikilosis or melorheostosis and these features are presumed to be attributable to another dosage sensitive gene(s) in the common deleted region.\nSize of deletion: Variable deletion size, varying between 3.44 and 6 Mb in size with a 3.44 Mb common deleted region.\nOrigin of deletion: The deletion occurred as a de novo event. The breakpoints are variable and apparently non-recurrent. Given the apparent absence of low copy repeats\nnear the 12q breakpoints described here, a mechanism of non-homologous end-joining (NHEJ) may be responsible for the occurrence of the microdeletions in the three published cases\nExpert advisor: Geert Mortier, Department of Medical Genetics, Ghent University Hospital, De Pintelaan 185, B-9000 Ghent, Belgium\nLinks to support groups:\nwww.rarechromo.org\nLinks to further information:\nwww.orpha.net\nrarediseases.info.nih.gov","Proportionate short stature,Osteopoikilosis,Intellectual disability,",None
3,15q13.3 microdeletion syndrome,15\n:\n30618103\n-\n32153206\nGRCh38,Heterozygous\nDeletion,1.54 Mb,NaN,"Clinical: This microdeletion syndrome was first described by Sharp et al in 2008 and is characterised by developmental delay with mild/moderated learning disability, seizures and subtle facial dysmorphism. A high percentage of patients have minor hand anomalies eg. short 4th metacarpal or 5th finger clinodactyly. Expressivity of the condition appears to be quite variable. There is no striking facial gestalt and given the lack of distinctive features in the phenotype, this is unlikely to become a disorder which is easily recognisable clinically.\nThe seizure disorder is variable; 7 of the 9 patients in Sharp's series had seizures or an abnormal EEG. The seizures varied from absence seizures to generalised tonic-clonic seizures to myoclonic epilepsy. One patient had intractable epilepsy. The deletion encompasses CHRNA7(cholinergic receptor, neuronal nicotinic, alpha polypeptide 7), a synaptic ion channel protein that mediates neuronal signal transmission.\nSharp et al estimate an approximate population incidence of ~1/40,000.\nSize of deletion: There is a shared 1.5 Mb region between segmental duplications at BP4 and BP5 containing six known genes. Although they occur more rarely, there is also a larger recurrent deletion between BP3 and BP5 associated with this phenotype\nOrigin of deletion: This region of chromosome 15q containes a complex set of segmental duplications, termed duplication blocks (eg. BP4). The BP4 and BP5 are in inverted orientation in a proportion of individuals in the general population which facilitates non-homologous recombination of this region at meiosis.\nExpert advisor: Dr Evan Eichler, Department of Genome Sciences, University of Washington and Howard Hughes Medical Institute, Seattle, Washington, USA\nLinks to support groups:\nwww.rarechromo.org\nLinks to further information:\nwww.ncbi.nlm.nih.gov\nwww.orpha.net","Seizures,Intellectual disability,Abnormality of the face,",None
4,15q24 recurrent microdeletion syndrome,15\n:\n74120302\n-\n75680570\nGRCh38,Heterozygous\nDeletion,1.56 Mb,NaN,"Clinical: 15q24 microdeletion syndrome is a newly defined syndrome (2007). Of the four patients described to date (Sharp) all had mild mental retardation (IQ 60-70), together with growth retardation, microcephaly, digital abnormalities, hypospadias (3/4) and loose connective tissue. A degree of facial resemblence was noted with high anterior hair line, broad medial eyebrows, hypertelorism, downslanted palpebral fissures, broad nasal base, long smooth philtrum and full lower lip.\nSize of deletion: 1-7-3.9Mb. In Sharp's series, high-resolution analysis showed that in three patients both proximal and distal breakpoints co-localized to highly identical segmental duplications, suggesting non-allelic homologous recombination (NAHR) as the likely mechanism of origin.However,in a fourth case, which was clinically indistinguishable, both proximal and distal breakpoints were located in unique sequence.\nOrigin of deletion: The majority of cases observed to date appear due to de novo deletions.\nExpert advisor: Dr Andy Sharp, University of Washington, Dept. of Genome Sciences, Seattle, USA\nLinks to support groups:\nwww.rarechromo.org\nLinks to further information:\nwww.ncbi.nlm.nih.gov\nwww.orpha.net","Small for gestational age,Short stature,Microcephaly,Joint laxity,Intellectual disability,Hypospadias,Abnormality of the face,",None
...,...,...,...,...,...,...,...,...
63,Wolf-Hirschhorn Syndrome,4\n:\n1567470\n-\n2108509\nGRCh38,Heterozygous\nDeletion,541.04 kb,1.0,"Clinical - Characterised by low birth-weight and post-natal failure to thrive, microcephaly, developmental delay and hypotonia. There is a characteristic facial appearance with sagging everted lower eyelids, a 'Greek-helmet' profile, a short nose and very short philtrum. They may have iris colobomas. Seizures are common. Some have a visible deletion with varying breakpoints on 4p, others have a cryptic deletion requiring FISH to make the diagnosis. From Shannon's study, a minimum birth incidence of 1 in 95 896 was calculated. They found that the crude infant mortality rate was 17% (23/132) and in the first two years of life the mortality rate was 21% (28/132). Cases with large de novo deletions (proximal to and including 4p15.2) were more likely to have died than those with smaller deletions.\nSize of deletion - Variable, genotype-phenotype correlations in WHS mostly depend on the size of the deletion, a deletion of >3.5 Mb resulting in a mild phenotype, in which malformations are absent (Zollino).\nOrigin of deletion -\nExpert adviser:\nLinks to support groups:\nwolfhirschhorn.org\nwww.rarechromo.org\nLinks to further information:\nwww.ncbi.nlm.nih.gov\nwww.orpha.net","Small for gestational age,Seizures,Muscular hypotonia,Microcephaly,Intellectual disability,",None
64,Xp11.22-linked intellectual disability,X\n:\n53374149\n-\n53656331\nGRCh38,Unknown\nDuplication,282.18 kb,NaN,Clinical: Data Awaited\nLinks to further information:\nwww.geneclinics.org\nomim.org,"Intellectual disability,",None
65,Xp11.22-p11.23 Microduplication,X\n:\n48476161\n-\n52374518\nGRCh38,Unknown\nDuplication,3.90 Mb,NaN,Clinical: Data Awaited\nLinks to support groups:\nwww.rarechromo.org\nLinks to further information:\nwww.orpha.net\nomim.org,"No data available in table,",None
66,Xq28 (MECP2) duplication,X\n:\n154021812\n-\n154097731\nGRCh38,Unknown\nDuplication,75.92 kb,NaN,"Clinical: Severe mental retardation, severe hypotonia with onset at birth and in the majority of patients a progressive lower-limb spasticity. Absent or very limited speech. Seizures are common as are recurrent severe infections. Growth parameters (including OFC) fall within the normal range. Carrier females showed complete skewing of X-inactivation. By analysis of patients with duplications in this region, Van Esch concluded that increased gene dosage of MECP2 was the most likely explanation for the severe MR phenotype present.\nSize of duplication: Van Esch found variable duplication size, between 0.4-0.8Mb including the LICAM and MECP2 genes, but no consistent centromeric or telomeric breakpoint.\nOrigin of duplication: Not known.\nExpert adviser:Dr Hilde Van Esch, Centre for Human genetics, University Hosptial Gasthuisberg, Leuven, Belgium\nLinks to support groups:\nwww.rarechromo.org\nLinks to further information:\nwww.ncbi.nlm.nih.gov\nwww.orpha.net","Spasticity,Seizures,Recurrent infections,Muscular hypotonia,Intellectual disability,Delayed speech and language development,",None
67,Xq28 Microduplication,X\n:\n154396222\n-\n154653579\nGRCh38,Unknown\nDuplication,257.36 kb,NaN,Clinical: Data Awaited\nLinks to further information:\nwww.orpha.net,"No data available in table,",None

In [20]:
home_df.to_excel('home1.xlsx')